.rowuno{
  margin-left: 70px; 
      margin-right: 70px;
}

.rowdos{
  margin-left: 70px; 
      margin-right: 70px;
}

.rowtres{
  margin-left: 70px; 
      margin-right: 70px;
}

.rowcuatro{
  margin-left: 70px; 
      margin-right: 70px;
}

.rowcinco{
  margin-left: 70px; 
      margin-right: 70px;
}